<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0" />
        <title>State of 2024 - Page layout</title>
        <link rel="stylesheet" href="layout.css" />
    </head>
    <body>
        <header>
            <a href="#"><img src="../../assets/img/ordina-logo.svg" alt="Ordina logo"></a>
            <nav>Navigation</nav>
            <search>Search</search>
        </header>
        <main>
            <section>
                <h1>Ahead of change</h1>
            </section>
            <section>
                <h2>Right side up</h2>
            </section>
            <section>
                <h2>Social responsibility</h2>
            </section>
        </main>
        <aside>
            <h2>Latest news</h2>
        </aside>
        <footer>
            Footer
        </footer>
    </body>
</html>
